# socket-lib-6.1.0 sha256:1f46016c1b1a5e52e99a1cf79ecbaddbae41103c4e005a52c49d9a7d4c6cc89b
[submodule "upstream/socket-lib"]
	ignore = dirty
	ref = a7201b46983050b00479d3af124db712cfdf0fe6
	path = upstream/socket-lib
	url = https://github.com/SocketDev/socket-lib.git
	branch = main
	sparse-checkout = src/paths
	shallow = true
	verify = none
